<div class="bg-image"></div>
<div class="image-overlay"></div>
<div class="header-wrapper">
  <div class="container">
    <div class="header-title">
      <a href="/"><%= image_tag ("jm_logo.png") %></a>
    </div>
    <div class="header-navlinks">
      <a href="#">About</a>
      <a href="#">Blog</a>
      <a href="#">Contact</a>
    </div>
  </div>
</div>

<div class="hero-row">
  <div class="container">
    <h1>The web done right.</h1>
    <p>I am a full-stack web developer living in Chicago, Illinois. I leverage modern tools and standards to create engaging, responsive sites and  enjoy taking on new challenges of all kinds. If you are looking to hire or are a business in need of an online presence, I'd love to discuss how I can help have an immediate impact on your business, project, or non-profit.</p>
    <button class="btn btn-lg ">I need a website</button>
    <button class="btn btn-lg ">I'm looking to hire</button>
  </div>
</div>

<div class="content-row tools-row">
  <div class="container">
    <h1>Tools of the trade.</h1>
    <p>Modern web languages and frameworks are expanding faster than ever. Knowing which to reach for in a given situation is more important than ever. I love learning new languages, frameworks and techniques as well as furthering my knowledge of those I already use. Here are some of the tools I use regularly and my proficency with each (from familiarity to mastery):</p>
    <div class="row">
      <div class="col-sm-6">
        <div class="lang-wrapper">
          <div class="lang-icon">
            <%= image_tag ("HTML5.png") %>
          </div>
          <div class="lang-details">
            <p>HTML</p>
            <div class="bub html-bub"></div>
            <div class="bub html-bub"></div>
            <div class="bub html-bub"></div>
            <div class="bub html-bub"></div>
            <div class="bub html-bub"></div>
            <div class="bub empty-bub"></div>
          </div>
        </div>
        <div class="lang-wrapper">
          <div class="lang-icon">
            <%= image_tag ("CSS3.png") %>
          </div>
          <div class="lang-details">
            <p>CSS (Incl. Bootstrap & SASS)</p>
            <div class="bub css-bub"></div>
            <div class="bub css-bub"></div>
            <div class="bub css-bub"></div>
            <div class="bub css-bub"></div>
            <div class="bub css-bub"></div>
            <div class="bub empty-bub"></div>
          </div>
        </div>
        <div class="lang-wrapper">
          <div class="lang-icon">
            <%= image_tag ("JavaScript.png") %>
          </div>
          <div class="lang-details">
            <p>JavaScript</p>
            <div class="bub js-bub"></div>
            <div class="bub js-bub"></div>
            <div class="bub js-bub"></div>
            <div class="bub js-bub"></div>
            <div class="bub empty-bub"></div>
            <div class="bub empty-bub"></div>
          </div>
        </div>
        <div class="lang-wrapper">
          <div class="lang-icon">
            <%= image_tag ("React.png") %>
          </div>
          <div class="lang-details">
            <p>React.js</p>
            <div class="bub react-bub"></div>
            <div class="bub react-bub"></div>
            <div class="bub react-bub"></div>
            <div class="bub empty-bub"></div>
            <div class="bub empty-bub"></div>
            <div class="bub empty-bub"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">

        <div class="lang-wrapper">
          <div class="lang-icon">
            <%= image_tag ("Rails.png") %>
          </div>
          <div class="lang-details">
            <p>Ruby on Rails</p>
            <div class="bub rails-bub"></div>
            <div class="bub rails-bub"></div>
            <div class="bub rails-bub"></div>
            <div class="bub rails-bub"></div>
            <div class="bub empty-bub"></div>
            <div class="bub empty-bub"></div>
          </div>
        </div>
        
        <div class="lang-wrapper">
          <div class="lang-icon">
            <%= image_tag ("Node.png") %>
          </div>
          <div class="lang-details">
            <p>Node.js</p>
            <div class="bub node-bub"></div>
            <div class="bub node-bub"></div>
            <div class="bub empty-bub"></div>
            <div class="bub empty-bub"></div>
            <div class="bub empty-bub"></div>
            <div class="bub empty-bub"></div>
          </div>
        </div>

        <div class="lang-wrapper">
          <div class="lang-icon">
            <%= image_tag ("Git.png") %>
          </div>
          <div class="lang-details">
            <p>Git</p>
            <div class="bub git-bub"></div>
            <div class="bub git-bub"></div>
            <div class="bub git-bub"></div>
            <div class="bub git-bub"></div>
            <div class="bub git-bub"></div>
            <div class="bub empty-bub"></div>
          </div>
        </div>

        <div class="lang-wrapper">
          <div class="lang-icon">
            <%= image_tag ("PS.png") %>
          </div>
          <div class="lang-details">
            <p>Adobe Photoshop</p>
            <div class="bub ps-bub"></div>
            <div class="bub ps-bub"></div>
            <div class="bub ps-bub"></div>
            <div class="bub empty-bub"></div>
            <div class="bub empty-bub"></div>
            <div class="bub empty-bub"></div>
          </div>
        </div>

      </div>

    </div>
    <p>Working in Django, Wordpress or something else? Let's discuss it!</p>
  </div>
</div>

  <div class="content-row projects-header">
    <div class="container">
      <h1>My work.</h1>  
      <p>Below you will find code samples and production code of projects I have built along my journey. For the latest information about what I've been working on recently, check out my blog.</p>
    </div>
  </div>
</div>


