<div class="bg-image"></div>
<div class="image-overlay"></div>
<div class="header-wrapper">
  <div class="container">
    <div class="header-title">
      <a href="/">
        <%=image_tag ( "jm_logo.png") %>
      </a>
    </div>
    <div class="header-navlinks">
      <a href="/">About</a>
      <a href="/blog">Blog</a>
      <a href="/#contact">Contact</a>
    </div>
  </div>
</div>

<div class="hero-row">
  <div class="container">
    <h1 class="section-title">The web done right.</h1>
    <p>I am a full-stack web developer living in Chicago, Illinois. I leverage modern
    tools and standards to create engaging, responsive sites and enjoy taking
    on new challenges of all kinds. If you are looking to hire or are a business
    in need of an online presence, I'd love to discuss how I can help have an
    immediate impact on your business, project, or non-profit.</p>
    <div class="hero-button">
      <a href="#contact"><button class="btn btn-lg ">Contact Me</button></a>
    </div>
  </div>
</div>


<div class="content-row projects-row">
  <div class="container">
    <h1 class="section-title">My work.</h1> 
    <p class="section-subtitle">Below you will find code samples and production code of projects I have built
    along my journey. For the latest information about what I've been working
    on recently, check out my <a href "/blog">blog.</a></p>
    <div class="row">

      <div class="col-sm-6 code-sample">
        <h3>Fakebook (Facebook clone)</h3>
        <img src="https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/fakebook2.png" class="sample-image img-responsive">
        <span class="label project-tag">Ruby on Rails</span>
        <span class="label project-tag">Devise w/ OAuth</span>
        <span class="label project-tag">Relational Databases</span>
        <p><b>View:</b>  <a target="_blank" href="http://odin-fakebook.herokuapp.com/">Production</a> |
        <a target="_blank" href="https://www.github.com/jmauzy/fakebook">GitHub</a>
      </div>

      <div class="col-sm-6 code-sample">
        <h3>Mauzy.io (CMS/Portfolio)</h3>
        <img src="https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/mauzyiosample.png"
             class="sample-image img-responsive ">
        <span class="label project-tag">Ruby on Rails</span>
        <span class="label project-tag">React.js</span>
        <span class="label project-tag">Devise</span>
        <span class="label project-tag">Markdown</span>
        <p><b>View:</b>  <a target="_blank" href="http://www.mauzy.io">Production</a> |
        <a target="_blank" href="https://www.github.com/jmauzy/mauzyio">GitHub</a>
      </div>

      <div class="clearfix visible-sm-block"></div>


      <div class="col-sm-6 code-sample">
        <h3>Wikipedia Search Widget</h3>
        <img src="https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/wikisample.png"
             class="sample-image img-responsive ">
        <span class="label project-tag">Vanilla JavaScript</span>
        <span class="label project-tag">Angular JS</span>
        <span class="label project-tag">Wikipedia API</span>
        <p><b>View:</b>  <a target="_blank" href="http://codepen.io/apositivejam/full/LpEvPG/">CodePen</a> 
      </div>

      <div class="col-sm-6 code-sample">
        <h3>Javascript Pomodoro Timer</h3>
        <img src="https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/pomsample.png" class="sample-image img-responsive ">
        <span class="label project-tag">Vanilla JavaScript</span>
        <span class="label project-tag">jQuery</span>
        <p><b>View:</b>  <a target="_blank" href="http://codepen.io/apositivejam/full/JdQgGL/">CodePen</a> 
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-sm-6 code-sample">
        <h3>Javascript Simon Game</h3>
        <img src="https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/simonsample.png"
             class="sample-image img-responsive ">
        <span class="label project-tag">Vanilla JavaScript</span>
        <span class="label project-tag">Angular JS</span>
        <span class="label project-tag">Howl.js</span>
        <p><b>View:</b>  <a target="_blank" href="http://codepen.io/apositivejam/full/YyxbmL/">CodePen</a> 
      </div>

      <div class="col-sm-6 code-sample">
        <h3>JavaScript Calculator</h3>
        <img src="https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/calcsample.png"
             class="sample-image img-responsive ">
        <span class="label project-tag">CSS</span>
        <span class="label project-tag">Angular JS</span>
        <p><b>View:</b>  <a target="_blank" href="http://codepen.io/apositivejam/full/ZbGYKg/">CodePen</a> 
      </div>
    </div>
  </div>
</div>

    <div class="content-row tools-row">
      <div class="container tools-content">
          <h1 class="section-title">My tools.</h1>
          <p class="section-subtitle">Modern web languages and frameworks are expanding faster every day. Knowing
          which to reach for in a given situation is more important than ever. I love
          learning new languages, frameworks and techniques as well as furthering my
          knowledge of those I already use. Here are some of the tools I use regularly
          and my proficency with each (from familiarity to mastery):</p>

        <div class="row">
          <div class="col-sm-6">
            <div class="lang-wrapper">
              <div class="lang-icon">
                <%=image_tag ( "https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/HTML5.png") %>
              </div>
              <div class="lang-details">
                <p>HTML</p>
                <div class="bub html-bub"></div>
                <div class="bub html-bub"></div>
                <div class="bub html-bub"></div>
                <div class="bub html-bub"></div>
                <div class="bub html-bub"></div>
                <div class="bub empty-bub"></div>
              </div>
            </div>
            <div class="lang-wrapper">
              <div class="lang-icon">
                <%=image_tag ( "https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/CSS3.png") %>
              </div>
              <div class="lang-details">
                <p>CSS (Incl. Bootstrap & SASS)</p>
                <div class="bub css-bub"></div>
                <div class="bub css-bub"></div>
                <div class="bub css-bub"></div>
                <div class="bub css-bub"></div>
                <div class="bub css-bub"></div>
                <div class="bub empty-bub"></div>
              </div>
            </div>
            <div class="lang-wrapper">
              <div class="lang-icon">
                <%=image_tag ( "https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/JavaScript.png") %>
              </div>
              <div class="lang-details">
                <p>JavaScript</p>
                <div class="bub js-bub"></div>
                <div class="bub js-bub"></div>
                <div class="bub js-bub"></div>
                <div class="bub js-bub"></div>
                <div class="bub empty-bub"></div>
                <div class="bub empty-bub"></div>
              </div>
            </div>
            <div class="lang-wrapper">
              <div class="lang-icon">
                <%=image_tag ( "https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/React.png") %>
              </div>
              <div class="lang-details">
                <p>React.js</p>
                <div class="bub react-bub"></div>
                <div class="bub react-bub"></div>
                <div class="bub react-bub"></div>
                <div class="bub empty-bub"></div>
                <div class="bub empty-bub"></div>
                <div class="bub empty-bub"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">

            <div class="lang-wrapper">
              <div class="lang-icon">
                <%=image_tag ( "https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/Rails.png") %>
              </div>
              <div class="lang-details">
                <p>Ruby on Rails</p>
                <div class="bub rails-bub"></div>
                <div class="bub rails-bub"></div>
                <div class="bub rails-bub"></div>
                <div class="bub rails-bub"></div>
                <div class="bub empty-bub"></div>
                <div class="bub empty-bub"></div>
              </div>
            </div>

            <div class="lang-wrapper">
              <div class="lang-icon">
                <%= image_tag ( "https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/Node.png") %>
              </div>
              <div class="lang-details">
                <p>Node.js</p>
                <div class="bub node-bub"></div>
                <div class="bub node-bub"></div>
                <div class="bub empty-bub"></div>
                <div class="bub empty-bub"></div>
                <div class="bub empty-bub"></div>
                <div class="bub empty-bub"></div>
              </div>
            </div>

            <div class="lang-wrapper">
              <div class="lang-icon">
                <%=image_tag ( "https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/Git.png") %>
              </div>
              <div class="lang-details">
                <p>Git</p>
                <div class="bub git-bub"></div>
                <div class="bub git-bub"></div>
                <div class="bub git-bub"></div>
                <div class="bub git-bub"></div>
                <div class="bub git-bub"></div>
                <div class="bub empty-bub"></div>
              </div>
            </div>

            <div class="lang-wrapper">
              <div class="lang-icon">
                <%=image_tag ( "https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/PS.png") %>
              </div>
              <div class="lang-details">
                <p>Adobe Photoshop</p>
                <div class="bub ps-bub"></div>
                <div class="bub ps-bub"></div>
                <div class="bub ps-bub"></div>
                <div class="bub empty-bub"></div>
                <div class="bub empty-bub"></div>
                <div class="bub empty-bub"></div>
              </div>
            </div>

          </div>

        </div>
        <p class="tools-footer">Working in Django, Wordpress or something else? Let's discuss it!</p>
      </div>
    </div>
  </div>

  <div class="content-row contact-row" id="contact">
    <div class="container">
      <div class="row">
          <h1 class="section-title">Contact me.</h1>
        <div class="col-sm-6">
          <div class="photo-group">
            <img class="contact-image img-responsive" src="https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/bwself.jpg">
          </div>
          <div class="photo-group">
            <div class="contact-info">
              <p>Jeremy Mauzy</p>
              <p>Chicago, IL</p>
              <p>jeremy@mauzy.io</p>
            </div>
          </div>
          <p>I am currently taking inquiries for freelance and contract work as well as full-time employment opportunities. Feel free to reach out to me using any of the below links or this contact form.</p>
          <div class="socicon-wrapper">
            <a href="http://twitter.com/JeremyMauzy" class="pure-button socicon-button"><span class="socicon socicon-twitter"></span></a>
            <a href="http://www.github.com/jmauzy" class="pure-button socicon-button"><span class="socicon socicon-github"></span></a>
            <a href="https://www.linkedin.com/in/jeremy-mauzy-6811bb31" class="pure-button socicon-button"><span class="socicon socicon-linkedin"></span></a>
            <a href="mailto:jeremy@mauzy.io" class="pure-button socicon-button"><span class="socicon socicon-mail"></span></a>
          </div>
        </div>
        

        <div class="col-sm-6">
          <%= form_tag(contact_submission_path) do %>
            <div class="form-group">
              <%= label_tag 'name', 'Name' %>
              <%= text_field_tag 'name', nil, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= label_tag 'email', 'Email' %>
              <%= text_field_tag 'email', nil, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= label_tag 'phone', 'Phone' %>
              <%= text_field_tag 'phone', nil, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= label_tag 'comment', 'Comment' %>
              <%= text_area_tag 'comment', nil, class: 'form-control' %>
            </div>

            <%= submit_tag "Submit", class: 'btn btn-lg contact-submit-button'%>
          <% end %>
        </div>
    </div>
  </div>
</div>
  <%= render "/shared/footer" %>

