<%= react_component('AdminPanel') %>
<!-- <table class="table table-hover">


  <tr>
    <th>Title</th>
    <th>Created</th>
    <th>Edited</th>
    <th>Views</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post %></td>
      <td><%= post.created_at %></td>
      <td><%= post.updated_at %></td>
      <td><%= post.views %></td>
      <td><%= link_to "Edit", edit_post_path(post.id)  %></td>
      <td><%= link_to "Delete", post, method: :delete %></td>
    </tr>

  <% end %>
</table> -->
