<%= render "/shared/header" %>
<div class="header-spacer"></div>
<div class="container">
  <div class="row">

    <div class="col-sm-9">
      <div class="post-body">
        <h1><%= @post.title %></h1>
        <p class="lead"><%= @post.description %></p>
        <p><%= posted_date(@post.created_at) %></p>
        <%= render '/shared/share_widget' %>
          <hr>
        <%= markdown(@post.body) %>
      </div>
        <%= render '/shared/share_widget' %>
        <%= render '/shared/comments' %>

    </div>

    <div class="col-sm-3">
      <%= render '/shared/sidebar', posts: @archives %>
    </div>

  </div>
</div>
<%= render "shared/footer" %>
