<!DOCTYPE html>
<html>
<head>
  <title>Mauzyio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container container-outer">
<div class="container">
  <%= render 'shared/header.html.erb' %>
  <p><h1>Admin Panel</h1>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <button class="btn btn-success">Manage Posts</button>

  <button class="btn btn-success">Create Post</button></p>
  <%= yield %>
  <%= render 'shared/footer.html.erb' %>
</div>
</div>

</body>
</html>
